[player]
isPlay=true
isShuffle=true
isMini=true
musicDir=/home/public/Music

[style]
#accentColor=139,229,157,255 // light green
 accentColor= 25,255,225,255 // very ligh cyan
# accentColor=0, 162, 216, 255 //  blue
# accentColor=150,204,243,255 //light blue
# accentColor=136,180,45,255 // green
# accentColor=234, 195, 50, 255 //orange
# accentColor=129,151,150,255 // darkgray
# accentColor=236,241,241,255 // almost white
# accentColor=132, 156, 180, 255 // teal
titleFnt=fonts/player.otf
digitFnt=fonts/segment.otf
dgtEffect=true
