[Desktop Entry]
Name=Mod4Win Reborn
GenericName=Music Player
Type=Application
Version=1.0
Comment=A Mod4Win MP3/OGG player clone for Linux written in C using Raylib 
Path=/home/andrea/Projects/raylib/rmplayer
Exec=/home/andrea/Projects/raylib/rmplayer/rmplayer
Icon=/home/andrea/Projects/raylib/rmplayer/rmplayer.svg
Terminal=true
StartupNotify=true
Categories=Audio;AudioVideo;
Keywords=Music;Audio;Player
MimeType=application/ogg;audio/basic;audio/mpeg;audio/x-aiff;audio/x-mp3;
X-Desktop-File-Install-Version=0.28

