[player]
isPlay=true
isShuffle=true
isMini=true
musicDir=/home/public/Music

[style]
#accentColor=33, 144, 164, 255 // gnome accent color TEAL
accentColor=139,229,157,255 // light green
#accentColor=0,255,225,255 // fluo cyan
#accentColor=255, 136, 0, 255 / fluo orange
#accentColor=182,255,0,255  // acid green lime
#accentColor=127,234,96,255 // green
#accentColor= 20, 200, 220, 255
titleFnt=fonts/rmplayerdot.otf
dgtEffect=true
