[player]
isPlay=true
isShuffle=true
isMini=true
musicDir=/home/public/Music

[style]
accentColor=139,229,157,255 // light green
# accentColor=129,161,193,255 // light blue
# accentColor=242, 103, 39, 255 //orange
# accentColor=129,151,150,255 // darkgray
# accentColor=236,241,241,255 // almost white
# accentColor= 133, 208, 211, 255 // teal
titleFnt=fonts/player.otf
digitFnt=fonts/segment.otf
dgtEffect=false
